@import "tailwindcss";

@theme {
  --color-custom-background-body: #f6f7f7;
  --color-custom-primary: #dba138;
  --color-custom-secondary: #1e6871;
} /* You can add global styles to this file, and also import other style files */


